<template>
  <div class="vue-modal">
    <span v-show="showTrigger()" v-on:click="openSelf();"><slot name="trigger"> <button> Open Modal </button></slot></span>
    <div v-show="value">
        <transition name="modal">
          <div class="modal-mask">
            <div class="modal-wrapper">
              <div class="modal-container" style="position:relative">
                <div v-if="options.type != 'spinner' && options.type != 'loader'" class="modal-close-button" v-on:click="closeSelf();">
                    <font-awesome-icon icon="times" />
                </div>

                <div v-if="options.type == 'success'" class="success">
                    <div class="modal-header">
                      <slot name="header"> <h3> Success! </h3></slot>
                    </div>

                    <div class="modal-body">
                      <slot name="body"> <font-awesome-icon icon="check-circle" /> </slot>
                    </div>

                    <div class="modal-footer">
                      <slot name="footer">                        
                      </slot>
                    </div>
                </div>

                <div v-else-if="options.type == 'loader' || options.type == 'spinner'" class="spinner">
                    <div class="modal-header">
                      <slot name="header"></slot>
                    </div>

                    <div class="modal-body">
                      <slot name="body"> <font-awesome-icon icon="spinner" class="fa-spin" /> </slot>
                    </div>

                    <div class="modal-footer">
                      <slot name="footer">                        
                      </slot>
                    </div>
                </div>

                <div v-else-if="options.type == 'confirm' " class="confirm">
                    <div class="modal-header">
                      <slot name="header">Confirm</slot>
                    </div>

                    <div class="modal-body">
                      <slot name="body">Are you sure you want to do this?</slot>
                    </div>

                    <div class="modal-footer">
                      <slot name="footer">  
                        <button class="modal-default-button" @click="$emit('confirm');">
                          Confirm
                        </button>
                        <button class="modal-default-button" @click="$emit('cancel');">
                          Cancel
                        </button>   
                        <div class="clearfix"></div>                   
                      </slot>
                    </div>
                </div>

                <div v-else>
                    <div class="modal-header">
                      <slot name="header"> default header </slot>
                    </div>

                    <div class="modal-body">
                      <slot name="body"> default body </slot>
                    </div>

                    <div class="modal-footer">
                      <slot name="footer">
                        default footer
                        <button class="modal-default-button" @click="$emit('close');">
                          OK
                        </button>
                      </slot>
                    </div>
                </div>
                

              </div>
            </div>
          </div>
        </transition>
    </div>
  </div>
</template>

<script>

export default {    
 name: "VueModal",
  props: {
    value: {
        type: Boolean,
        default: false
    },    
    options:{
        type: Object,
        default: {
            show_trigger: false,  
            type: 'default', //default, success, spinner
            timeout: 0,        
        }
    }    
  },
  data: () =>{
    return {
        timeout_running: false,
    }
  },

  methods: {
    closeSelf: function() {
        this.$emit('input', false);     
        this.clearTimeout();
    },
    openSelf: function() {
        this.$emit('input', true);
    },
    clearTimeout: function() {
        clearTimeout(this.timeout_running);   
        this.timeout_running = false; //override off any timeouts.
    },
    showTrigger: function(){
        return !this.value && this.options.show_trigger;
    }
  },
  watch: {
    value: function(new_val, old_val){
        if(new_val){
            if(this.options.timeout > 0 && !this.timeout_running){                
                this.timeout_running = setTimeout( () => {                    
                    this.closeSelf();
                }, this.options.timeout);
            }
        }
    }
  }
};
</script>
<style>
.modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: table;
  transition: opacity 0.3s ease;
}

.modal-wrapper {
  display: table-cell;
  vertical-align: middle;
}

.modal-container {
  width: 300px;
  max-width: 60%;
  margin: 0px auto;
  padding: 20px 30px;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);
  transition: all 0.3s ease;
  font-family: Helvetica, Arial, sans-serif;
}



.modal-header h3 {
  margin-top: 0;
  color: #444;
}

.modal-body {
  margin: 20px 0;
}

.success .modal-body{
    color:green;
    text-align:center;
    font-size: 40px;
}

.spinner .modal-body{
    color:#CC0000;
    text-align:center;
    font-size: 40px;
}

.modal-default-button {
  float: right;
}

.modal-close-button{
    position: absolute;
    right: -30px;
    top: -21px;
    /*background-color: white;*/
    color:white;
    width: 25px;
    height: 25px;
    text-align: center;
    opacity: 0.6;
    cursor: pointer !important;
    font-size: 20px;

}

.modal-close-button:hover{
    background-color: white;
    border-radius: 100%;
    opacity: 1;
    color:#AA0000;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);
}

/*
 * The following styles are auto-applied to elements with
 * transition="modal" when their visibility is toggled
 * by Vue.js.
 *
 * You can easily play with the modal transition by editing
 * these styles.
 */

.modal-enter {
  opacity: 0;
}

.modal-leave-active {
  opacity: 0;
}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
</style>